.container{
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
  }

  .login-form{
    padding: 4%;
    /*box-shadow: 5px 5px 5px 2px #c0c0c0;*/
    border: 1px solid #c0c0c0;
    background-color: #fff;
  }

  .logo{
    height: 3em;
    width: 10%;
  }

  @media(max-width:700px){
    .container{
      padding-top: 2%;
      padding-left: 1%;
      padding-right: 1%;
    }
    .login-form{
      padding: 4%;
      box-shadow: 5px 5px 5px 5px #fff;
      border: none;
    }
    .logo{
      height: 2.3em;
      width: 10%;
    }
  }

  div label{
    font-weight: bold;
  }
